.PostCard {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.PostCard .card-header {
  background: transparent;
  border-bottom: none;
}

.PostCard .card-footer {
  background: transparent;
  border-top: none;
}

.PostCard .card-title {
  color: #e4e6eb;
}

.PostCard .card-subtitle {
  color: #b0b3b8;
}

.PostCard .card-text {
  color: #e4e6eb;
}

.greyFooter {
  background-color: #2422227c;
  padding: 0;
}
