.CommentContent {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #e4e6eb;
  resize: none;
}

.CommentContent::placeholder {
  color: #b0b3b8;
}

.CommentContent:focus {
  background-image: linear-gradient(to bottom right, #3a3a3a, #1f1e1e);
  color: #fcfcfc;
}

.InputGroupIcon {
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
