.CommentCard {
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom right, #3a3a3a, #1f1e1e);
}

.CommentCard .card-header {
  background: transparent;
  border-bottom: none;
}

.CommentCard .card-footer {
  background: transparent;
  border-top: none;
}

.CommentCard .card-title {
  color: #e4e6eb;
}

.CommentCard .card-subtitle {
  color: #b0b3b8;
}

.CommentCard .card-text {
  color: #e4e6eb;
}

.ModalHeader {
  background-color: #1c1e21;
  color: #e4e6eb;
}

.ModalHeader .btn-close {
  filter: invert(1);
}

.greyFooter {
  background-color: #242526;
  padding: 0;
}

.likeButton {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #bec2caf3;
  cursor: pointer;
}

.likeButton.liked {
  color: #1877f2;
}

.commentButton .text-decoration-none {
  color: inherit;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}
