.Container {
  min-height: 500px;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ImageWrapper {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
  border-radius: 10px;
}

.ImageWrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.ImageWrapper:hover {
  border-color: #555;
  box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.5);
}

.uploadMessage {
  cursor: pointer;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #f8f9fa;
  background-color: #343a40;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.uploadMessage:hover {
  background-color: #495057;
  box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.5);
}

.FormControl {
  width: 100%;
  border-radius: 8px;
  background-color: #495057;
  color: #f8f9fa;
  border: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  font-size: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.FormControl:focus {
  background-color: #3a3f44;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin: auto;
}
