.PopularProfilesBorder {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Header {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ProfilesSection {
  max-width: 100%;
  width: 775px;
  margin: 0 auto;
}
