.DropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 10px 15px;
  background-color: #2d2f33;
  color: white !important;
}

.Icon {
  padding-left: 20px;
}

.faEdit,
.faTrashAlt,
.faIdCard,
.faKey {
  color: white;
  transition: color 0.3s;
}

span:hover {
  color: inherit;
}

.DropdownItem:hover {
  background-image: linear-gradient(to bottom right, #464749, #38393f);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.DropdownItem:hover .faEdit {
  color: #ffc107;
}

.DropdownItem:hover .faTrashAlt {
  color: #ff4c4c;
}

.DropdownMenu {
  padding: 5px;
  border-radius: 10px;
  background-color: #242526 !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
}
