.DropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 5px;
  color: white !important;
  transition: color 0.3s, background-color 0.3s;
}

.faEdit,
.faTrashAlt,
.faIdCard,
.faKey {
  color: white;
  transition: color 0.3s;
}

span:hover {
  color: #007bff;
  transform: scale(1.2);
}

.DropdownItem:hover {
  color: #007bff;
  transform: scale(1.02);
}

.DropdownItem:hover .faEdit {
  color: yellow;
  transform: scale(1.02);
}

.DropdownItem:hover .faTrashAlt {
  color: red;
  transform: scale(1.02);
}

.DropdownMenu {
  padding: 2px;
  border-radius: 10%;
  background-color: #343a40 !important;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
}
