.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 10px;
  color: #f8f9fa;
  box-shadow: none;
  border: none;
}

.spinner {
  margin-bottom: 15px;
}

.message {
  margin-top: 15px;
  font-size: 1.2em;
  text-align: center;
  color: #ffffffb0;
}
