.logoNav {
  width: 60px;
  height: auto;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.logoNav:hover {
  transform: scale(1.05);
}

.navIcon {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.navIcon::before {
  content: '';
  position: absolute;
  top: -0.3px;
  left: -0.3px;
  right: -0.3px;
  bottom: -0.3px;
  border: 2.5px solid transparent;
  transition: all 0.2s ease;
}

.navIcon:hover {
  transform: scale(1.05);
}

.navIcon:hover::before {
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 15%;
}

.logoCanvas {
  width: 65px;
  height: auto;
}

.profileImage {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px #000000;
}

.username {
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffffcb;
}
