.logoNav {
  width: 55px;
  height: auto;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0.8;
}

.logoNav:hover {
  opacity: 1;
}
.navIcon {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
  color: #ffffffcb;
}

.navIcon::before {
  content: '';
  position: absolute;
  top: -0.3px;
  left: -0.3px;
  right: -0.3px;
  bottom: -0.3px;
  border: 2.5px solid transparent;
  transition: all 0.2s ease;
}

.navIcon:hover {
  transform: scale(1.1);
}

.logoCanvas {
  width: 65px;
  height: auto;
}

.profileImage {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px #000000;
}

.username {
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffffcb;
}

a {
  text-decoration: none;
}
