.Container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1px;
  border-radius: 12px;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttonWrapper {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
